.badge {
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
