.icon-raw {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.icon-raw__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-raw__icon i {
  font-size: 35px;
}

.icon-raw__icon span {
  width: 120px;
  margin-top: 18px;
  font-size: 22px;
  text-align: center;
  line-height: 30px;
}
